{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'edit_profile.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  </head>
  <body>
    <div class="" style = "display : flex; ">
      <div class="" style = "">
        {% include 'menu1.html' %}
      </div>

      <div class="div2" style = "">
        <div class="div3">
          <div class="edit-profile">
            {% for i in info %}
              <form enctype="multipart/form-data"class="edit_profile_form" method="post" action = "{% url 'compelet_profile' i.user_id %}">
                {% csrf_token %}
                <div class="">
                  <label class = "edit_photo_botton" for="fil">set photo</label>
                  <input type="file" style = "display : none" id = "fil" accept = "image/*" name="avatar" value="set photo">
                </div>

                <div class="the_rest_of_form">
                  <input class = "getinfo" placeholder = "first name" type="text" name="first_name" value="{{ i.first_name }}"><br>
                  <input class = "getinfo" placeholder = "last name" type="text" name="last_name" value="{{ i.last_name }}"><br>
                  <input class = "getinfo" placeholder = "phone number" type="text" name="phone_number" value="{{ i.phone_number }}"><br>
                  <input class = "getinfo" placeholder = "email" type="text" name="email" value="{{ i.email }}"><br>
                  <input class = "submit_form" type="submit" name="" value="submit">
                </div>

              </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>




  </body>
</html>
