{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'profile2.css' %}">
  </head>
  <body >
    <div class="menu">
      {% include 'menu1.html' %}
    </div>

    <div class="prof">
      <div class="profile bg-dark">

      </div>
    </div>

    <div class="post_notfi">
      <div class="post_notfi2">

        <div class="post bg-dark">

        </div>

        <div class="notfi bg-white">

        </div>

      </div>
    </div>

  </body>
</html>
