{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'profile1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
  <body style = "font-family : 'courier new';">

    <div class="Container" style = "">
      {% include 'menu1.html' %}

      <div class="CIdPhotoName" style = "width : 710px;">
        <div class="" style = "">
          {% for i in profile %}
            {% if i.avatar %}
              <div class="IdPhotoName">
                <img src="{{ i.avatar.url }}" alt="Avatar" class="avatar" style = "margin-top : 10px; margin-left : 10px;">
              </div>
            {% endif %}

            <br>


            <div class="" style = "display : block; ">
                {% if i.first_name %}
                  <div class="mt-5" style = "display : flex;">
                    <i style="padding-top : 8px; font-size:15px; color : gray;" class="fa">&#xf2c2;</i>
                    <p style = "margin-top : 5px;width : 120px;margin-left : 5px">{{ i.first_name }}</p><br>
                  </div>
                 {% endif %}
                {% if i.last_name %}
                  <div class="" style = "display : flex;">
                    <i style="padding-top : 2px;font-size:15px; color : gray;" class="fa">&#xf2c2;</i>
                    <p style = "margin-left : 5px">{{ i.last_name }}</p><br>

                  </div>
                {% endif %}

                {% if i.phone_number %}
                  <div class="" style = "display : flex;">
                    <i style="font-size:20px; color : gray;" class="material-icons">&#xe551;</i>
                    <p>{{ i.phone_number }}</p>
                  </div>
                {% endif %}

                {% if i.email %}
                  <div class="" style = "display : flex;">
                    <i style= "font-size:20px; color : gray;" class="material-icons">&#xe0be;</i>
                    <p style = "margin-left : ">{{ i.email }}</p><br>
                  </div>
                {% endif %}
            </div>

          {% endfor %}
        </div>






        <div class="user_info">
          <a href="#" class = "user_info_a">
             <b class = "number_b">{{ posts|length }}</b><br>
            <b class = "text_a">posts</b>
          </a>
        </div>
        <br>

        {% for f in profile %}
          <div class="user_info">
            <a href="#" class = "user_info_a">
              <b class = "number_b">{{ f.followers.count }}</b><br>
              <b class = "text_a">followers</b>
            </a>
          </div>

          <div class="user_info">
            <a href="#" class = "user_info_a">
              <b class = "number_b">{{ f.followings.count }}</b><br>
              <b class = "text_a">following</b>
            </a>
          </div>


          {% endfor %}
        <div style = "margin-left : 180px;">
          <a href="{% url 'edit_profile' %}" title = "ویرایش پروفایل"><i id = "edit_profile" class="fa fa-edit" style="font-size:20px; color : rgb(78, 78, 78); margin-top : 5px;"></i></a>
        </div>



      </div>

    </div>

    {% if posts %}
      <div class="Show_Post_Profile">
        {% for i in posts %}
          <div class="card" id = "{{ i.1.uid }}">
            <div class="IdPhotoName" style = "display : flex;">
              {% if profile.0.avatar %}
                <img src="{{ profile.0.avatar.url }}" alt="Avatar" class="avatar_post" style = "margin-top : 10px; margin-left : x;">
              {% else %}
                <img src="/static/aa.png" alt="Avatar" class="avatar_post" style = "margin-top : 10px; margin-left : x;">
              {% endif %}
              <div class="" style = "vertical-align : middle; margin-top : 16px; margin-left : 5px;">
                <a href="#" id = "Comment" style = "text-decoration : none;"><b style = "font-family : 'courier new';"></b><p><b>{{ i.0 }}</b></p></a>
              </div>
              <a id = "{{ i.1.uid }}" href="#" class = "for_hover points" style = "width : 20px; margin-top : 16px; margin-left : 140px; height : 20px;"><i class='fas fa-ellipsis-v' style = 'font-size:18px'></i></a>

            </div>

            <a href="" class = "PostA">

              <div id = "point_option" class = "point-option-{{ i.1.uid }}" style = "display : none;">
                <ul>
                    <li class = "post_li for_hover"><b>Copy Link</b></li>
                    <li class = "post_li for_hover"><b>Share to...</b></li>
                    <li class = "post_li for_hover"><b>Delete</b></li>

                </ul>
              </div>

              <div class="">
                <img src="{{ i.1.photo.url }}" alt="..." style = "width : 100%; height : 120px; border-bottom : 1px solid rgb(92, 91, 91);">
              </div>
            </a>

            <div class="Post-Options" style = "width : 100%;height : 30px; display : flex; padding-bottom : 33px;">
              {% if user not in i.1.likes.all %}
                <div class="Like" style = "margin-left : 5px; margin-top : 5px;">
                  <a class = "LikeA for_hover" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:24px; cursor : pointer;' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite_border</i></a>
                </div>
              {% else %}
              <div class="Like" style = "margin-left : 5px; margin-top : 5px;">
                <a class = "LikeA for_hover" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:24px; cursor : pointer; color : rgb(221, 16, 16);' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite</i></a>
              </div>
              {% endif %}

              {% if i.1.likes.count == 0 %}
                <b id = "{{ i.uid }}" class = "display : none; likecount-{{ i.1.uid }}"></b>
              {% else %}
                <b id = "{{ i.uid }}" class = "display : none; likecount-{{ i.1.uid }}">{{ i.1.likes.count }}</b>
              {% endif %}

              <div class="Comment" style = "margin-left : 15px; margin-top : 9px;">
                <i onclick="document.getElementById('id01').style.display='block'" style='font-size:24px; cursor : pointer;' id = "Comment" class='far w3-large'>&#xf27a;</i>
              </div>

              {% if user in i.1.book_marks.all %}
                <div style = "margin-left : 155px; margin-top : 5px;">
                  <a class = "for_hover"  href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='font-size:24px; cursor : pointer;' class='material-icons'>bookmark</i></a>
                </div>
              {% else %}
                <div style = "margin-left : 155px; margin-top : 5px;">
                  <a class = "for_hover" href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='font-size:24px; cursor : pointer;' class='material-icons'>bookmark_border</i></a>
                </div>
              {% endif %}


            </div>


            <a href="#" class = "PostA">
              <div class="ShowCaption">
                <p style = "margin-left: 5px;">{{ i.1.caption|truncatechars:45}}</p>
              </div>

              <div class="ShowDate">
                <p style = "direction : rtl; margin-left : 5px;">{{ i.1.j_publish }}</p>
              </div>
            </a>

          </div>
        {% endfor %}


      </div>
    {% else %}
        <div>
          <i class="fa fa-camera" style="font-size:120px;color:gray; margin-top : 100px; margin-left : 650px;"></i><br>
          <p style = "font-size : 18px; margin-top : 10px; margin-left : 107px; text-align : center; color : gray;">There is no post!</p>
        </div>

    {% endif %}





    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top" style = "height : auto; width : 600px;">
        <header class="w3-container w3-teal">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <p style = "direction : rtl; text-align : center;margin-right : 30px;font-size : 27px;">نظرات...</p>
        </header>

        <div class="w3-container" style="background-color : red; padding-top : 20px; padding-bottom : 5px;">

          <form class="" action="" method="POST" style = "display : flex;">

            <input type="submit" name="CommentSubmit" value="نظر دادن" class = "CommentSubmit">
            <input type="text" name="CommentText" value="" class = "CommentText">

          </form>
        </div>


      </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).on("click", "#point_option", function(){
          $(this).toggle();
        })
    </script>


    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", ".points", function(e){
          e.preventDefault();

          var id = $(this).attr("id");
          console.log(id);
          if($(".point-option-" + id).css("display") == "none"){
            $(".point-option-" + id).css("display", "block");
          }
          else{
            $(".point-option-" + id).css("display", "none");
          }
        })
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '#BookMark', function (a) {
          a.preventDefault();
          var post_id = $(this).attr("post-id");
          var url = $(this).attr("href");

          $.ajax({
            url : url,

            success : function(boo){
                if($("#bookmark-" + post_id).text() === "bookmark_border"){
                $("#bookmark-" + post_id).text("bookmark");
              }
              else {
                $("#bookmark-" + post_id).text("bookmark_border");
              }
            }


          })


        })

      })

    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.LikeA', function(e){
          e.preventDefault();

          var post_id = $(this).attr("id");
          var link = $(this).attr("get-count");
          var url = $(this).attr("href");

          $.ajax({
            url : url,
            success:function(s){
              $.ajax({
                url : link,
                success : function(suc){
                  console.log(suc);
                  if(suc.likes > 0){
                    $(".likecount-" + post_id).html(suc.likes);
                    $(".likecount-" + post_id).css("display" , "block");
                  }else {
                    $(".likecount-" + post_id).css("display" , "none");
                  }

                  if ($("#like-border-" + post_id).text() === "favorite_border"){
                    $("#like-border-" + post_id).text("favorite");
                    $("#like-border-" + post_id).css("color", "rgb(221, 16, 16)");
                  }
                  else{
                    $("#like-border-" + post_id).text("favorite_border");
                    $("#like-border-" + post_id).css("color", "black");
                  }
                }

              });
            }

          });
        });
      });

    </script>

  </body>
</html>
