{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'profile1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
  <body style = "font-family : 'courier new'">
    <div class="Container">
      {% include 'menu1.html' %}

      <div class="CIdPhotoName" style = "width : 710px;">
        <div class="">
          {% for i in profile %}
            {% if i.avatar %}
              <div class="IdPhotoName">
                <img src="{{ i.avatar.url }}" alt="Avatar" class="avatar" style = "margin-top : 10px; margin-left : 10px;">
              </div>
            {% else %}
              <div class="IdPhotoName">
                <img src="/static/aa.png" alt="Avatar" class="avatar" style = "margin-top : 10px; margin-left : 10px;">
              </div>
            {% endif %}
            <br>
            <div class="mt-5" style = "display : block;">
              <div class="" style = "display : flex;">
                {% if i.first_name %}
                  <i style=";padding-top : 8px; font-size:15px; color : gray;" class="fa">&#xf2c2;</i>
                  <p style = "margin-top : 5px;width : 120px;margin-left : 5px">{{ i.first_name }}</p><br>
                {% endif %}
              </div>
              <div class="" style = "display : flex;">
                {% if i.last_name %}
                  <i style="padding-top : 2px;font-size:15px; color : gray;" class="fa">&#xf2c2;</i>
                  <p style = "margin-left : 5px">{{ i.last_name }}</p><br>
                {% endif %}
              </div>


              <div class="" style = "display : flex;">
                {% if i.phone_number %}
                  <i style="font-size:20px; color : gray;" class="material-icons">&#xe551;</i>
                  <p>{{ i.phone_number }}</p>
                {% endif %}
              </div>

              <div class="" style = "display : flex;">
                {% if i.email %}
                  <i style= "font-size:20px; color : gray;" class="material-icons">&#xe0be;</i>
                  <p style = "margin-left : ">{{ i.email }}</p><br>
                {% endif %}
              </div>
            </div>

          {% endfor %}
        </div>






        <div class="user_info">
          <a href="#" class = "user_info_a">
            <b class = "number_b">{{ posts|length}}</b><br>
            <b class = "text_a">posts</b>
          </a>
        </div>
        <br>

        {% for f in profile %}
          <div class="user_info" style = "">
            <a href="#" class = "user_info_a">
              <b class = "follower_count">{{ f.followers.count }}</b><br>
              <b class = "text_a">followers</b><br>

            </a>
          </div>

          <div class="user_info">
            <a href="#" class = "user_info_a">
              <b class = "following_count">{{ f.followings.count }}</b><br>
              <b class = "text_a">following</b>
            </a>
          </div>


          <div class="" style = "height : 20px;margin-left : 40px;height : 60px;margin-top : 30px;width : 90px;">
            {% for j in profile %}
              {% if user in j.followers.all %}
                <div id = "follow_button" class = "unfollow_button">
                  <a count-link = "{% url 'get_follow_count' f.user.id %}" id = "follow_a" class = "unfollow_a" href="{% url 'follower' f.user.id %}">unfollow</a>
                </div>
              {% else %}
                <div id = "follow_button" class = "follow_button">
                  <a count-link = "{% url 'get_follow_count' f.user.id %}" id = "follow_a" class = "follow_a" href="{% url 'follower' f.user.id %}">follow</a>
                </div>
              {% endif %}
            {% endfor %}


            <div class="message_button">
              <a class = "message_a" style = "height : 100%; width : 100%;" href="#">message</a>
            </div>

          </div>
          {% endfor %}
      </div>

    </div>

    <div class="Show_Post_Profile">
      {% if posts %}

        {% for i in posts %}
          <div class="card" id = "{{ i.1.uid }}">
            <div class="IdPhotoName" style = "display : flex;">
              {% if profile.0.avatar %}
                <img src="{{ profile.0.avatar.url }}" alt="" class="avatar_post" style = "margin-top : 10px; margin-left : x;">
              {% else %}
                <img src="/static/aa.png" alt="" class="avatar_post" style = "margin-top : 10px; margin-left : x;">
              {% endif %}
              <div class="" style = "vertical-align : middle; margin-top : 16px; margin-left : 5px;">
                <b style = "font-family : 'courier new';"></b><p>{{ i.0 }}</p>
              </div>
              <a id = "{{ i.1.uid }}" href="#" class = "for_hover points" style = "width : 20px; margin-top : 16px; margin-left : 140px; height : 20px;"><i class='fas fa-ellipsis-v' style = 'font-size:18px'></i></a>

            </div>

            <a href="" class = "PostA">

              <div id = "point_option" class = "point-option-{{ i.1.uid }}" style = "display : none;">
                <ul>
                  <li class = "post_li for_hover">Report</li>
                  <li class = "post_li for_hover">Copy Link</li>
                  <li class = "post_li for_hover">Share to...</li>
                  <li class = "post_li for_hover">Unfollow</li>
                </ul>
              </div>

              <div class="">
                <img src="{{ i.1.photo.url }}" alt="..." style = "width : 100%; height : 120px; border-bottom : 1px solid rgb(92, 91, 91);">
              </div>
            </a>

            <div class="Post-Options" style = "width : 100%;height : 30px; display : flex; padding-bottom : 33px;">
              {% if user not in i.1.likes.all %}
                <div class="Like" style = "margin-left : 5px; margin-top : 5px;">
                  <a class = "LikeA for_hover" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:24px; cursor : pointer;' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite_border</i></a>
                </div>
              {% else %}
              <div class="Like" style = "margin-left : 5px; margin-top : 5px;">
                <a class = "LikeA for_hover" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:24px; cursor : pointer; color : rgb(221, 16, 16);' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite</i></a>
              </div>
              {% endif %}

              {% if i.1.likes.count == 0 %}
                <b id = "{{ i.uid }}" class = "display : none; likecount-{{ i.1.uid }}"></b>
              {% else %}
                <b id = "{{ i.uid }}" class = "display : none; likecount-{{ i.1.uid }}">{{ i.1.likes.count }}</b>
              {% endif %}

              <div class="Comment" style = "margin-left : 15px; margin-top : 9px;">
                <i onclick="document.getElementById('id01').style.display='block'" style='font-size:24px; cursor : pointer;' id = "Comment" class='far w3-large'>&#xf27a;</i>
              </div>

              {% if user in i.1.book_marks.all %}
                <div style = "margin-left : 155px; margin-top : 5px;">
                  <a class = "for_hover"  href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='font-size:24px; cursor : pointer;' class='material-icons'>bookmark</i></a>
                </div>
              {% else %}
                <div style = "margin-left : 155px; margin-top : 5px;">
                  <a class = "for_hover" href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='font-size:24px; cursor : pointer;' class='material-icons'>bookmark_border</i></a>
                </div>
              {% endif %}


            </div>


            <a href="#" class = "PostA">
              <div class="ShowCaption">
                <p style = "margin-left: 5px;">{{ i.1.caption|truncatechars:45}}</p>
              </div>

              <div class="ShowDate">
                <p style = "direction : rtl; margin-left : 5px;">{{ i.1.j_publish }}</p>
              </div>
            </a>

          </div>
        {% endfor %}


      {% else %}
          <div>
            <i class="fa fa-camera" style="font-size:80px;color:gray; margin-top : 22px; margin-left : 35px;"></i><br>
            <p style = "direction : rtl; text-align : center; color : gray;">هیچ پستی وجود ندارد!</p>
          </div>

      {% endif %}


    </div>

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top" style = "height : auto; width : 600px;">
        <header class="w3-container w3-teal">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <p style = "direction : rtl; text-align : center;margin-right : 30px;font-size : 27px;">نظرات...</p>
        </header>

        <div class="w3-container" style="padding-top : 20px; padding-bottom : 5px;">

          <form class="" action="" method="POST" style = "display : flex;">

            <input type="submit" name="CommentSubmit" value="نظر دادن" class = "CommentSubmit">
            <input type="text" name="CommentText" value="" class = "CommentText">

          </form>
        </div>


      </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", "#follow_button", function(follow){
          follow.preventDefault();

          var url = $("#follow_a").attr("href");
          var follower_url = $("#follow_a").attr("count-link");

          $.ajax({
            url : url,
            success:function(ad){

              if($("#follow_a").text() == "follow"){
                $("#follow_a").text("unfollow");
                $("#follow_button").css({"position" : "block","background-color": "rgb(244, 244, 248)", "color":"black"});
                $("#follow_button").removeClass("follow_button");
                $("#follow_button").addClass("unfollow_button");
                $("#follow_a").removeClass("follow_a");
                $("#follow_a").addClass("unfollow_a");

                $.ajax({
                  url : follower_url,
                  success:function(ff){
                    $(".follower_count").html(ff.followers);
                    $(".following_count").html(ff.followings)


                  }
                })

              }
              else{
                $("#follow_button").css({"position" : "block","background-color": "#17A2B8", "color":"white"});
                $("#follow_button").removeClass("unfollow_button");
                $("#follow_button").addClass("follow_button");
                $("#follow_a").removeClass("unfollow_a");
                $("#follow_a").addClass("follow_a");
                $("#follow_a").text("follow");
                $.ajax({
                  url : follower_url,
                  success:function(ff){
                    $(".follower_count").html(ff.followers);
                    $(".following_count").html(ff.followings)
                  }
                })

              }
            }
          })
        })
      })
    </script>


    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", ".points", function(e){
          e.preventDefault();

          var id = $(this).attr("id");
          if($(".point-option-" + id).css("display") == "none"){
            $(".point-option-" + id).css("display", "block");
          }
          else{
            $(".point-option-" + id).css("display", "none");
          }
        })
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '#BookMark', function (a) {
          a.preventDefault();
          var post_id = $(this).attr("post-id");
          var url = $(this).attr("href");

          $.ajax({
            url : url,
            success : function(boo){
                if($("#bookmark-" + post_id).text() === "bookmark_border"){
                $("#bookmark-" + post_id).text("bookmark");
              }
              else {
                $("#bookmark-" + post_id).text("bookmark_border");
              }
            }
          })
        })
      })

    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.LikeA', function(e){
          e.preventDefault();

          var post_id = $(this).attr("id");
          var link = $(this).attr("get-count");
          var url = $(this).attr("href");

          $.ajax({
            url : url,
            success:function(s){
              $.ajax({
                url : link,
                success : function(suc){
                  if(suc.likes > 0){
                    $(".likecount-" + post_id).html(suc.likes);
                    $(".likecount-" + post_id).css("display" , "block");
                  }else {
                    $(".likecount-" + post_id).css("display" , "none");
                  }

                  if ($("#like-border-" + post_id).text() === "favorite_border"){
                    $("#like-border-" + post_id).text("favorite");
                    $("#like-border-" + post_id).css("color", "rgb(221, 16, 16)");
                  }else{
                    $("#like-border-" + post_id).text("favorite_border");
                    $("#like-border-" + post_id).css("color", "black");
                  }
                }

              });
            }

          });
        });
      });

    </script>
  </body>
</html>
