{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'AddPost.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

    <div class="AddPost">
      <div class="menu">
        {% include 'menu1.html' %}
      </div>

      <div class= "" id = "AddPostForm">


        <form class="" action="{% url 'register_post' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="SelectPhoto">
            <label class = "PostPhoto" for="" style = "color : black;">انتخاب عکس : </label><br>
            <input type="file" name="photo" value="انتخاب عکس"  class = "PostPhoto" accept="image/*" required>
          </div><br><br>

          <label style = "margin-right : 5px;" for="">توضیحات :‌ ‌</label><br>
          <textarea class = "PostCaption" name="caption" rows="8" cols="40"></textarea>

          <input type="submit" name="SubmitNewPost" value="اضافه کردن" class = "btn-info" id = "SubmitInput">

        </form>



        <br><br>
      </div>

    </div>

  </body>
</html>
