{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>


  <body style = "font-family : 'courier new';">
    <div class="Display">
      {% include 'menu1.html' %}

      {% if message %}
        <div class="NoPostThere">
            <b><p id = "NoPostThere" style = "font-size : 25px; direction : rtl; margin-top : 25px; text-align : center;"></p></b>
        </div>

        {% endif %}



      {% if post %}
        <div class="row">
          <div id = "Shower" class="bg-white">


            {% for i in post %}
              <div id="id01" class="w3-modal">

                <div id = "w-3modal" class="w3-modal-content w3-animate-top w3-card-4" style = "">
                  <header class="w3-container w3-teal" style = " width : 740px;">
                    <span onclick="document.getElementById('id01').style.display='none'" style = "" class="w3-button w3-display-topright">&times;</span>
                    <p style = "direction : rtl; text-align : center;margin-right : 30px;font-size : 27px;">comments</p>
                  </header>
                  <div class="w3-container" style = "width : 100%;">
                    {% for j in i.1.comment_set.all %}
                      <div class="comment" syle = "width : 100%;">
                        <div class="">
                          <b style = "font-size : 17px; color : black; font-style :bold;" >{{ j.user.username }}</b><span style = "margin-left : 5px;">{{ j.text }}</span>
                        </div>
                        <div class="likebutton">
                          {% if user in j.likes.all %}
                            <a comment-id = "{{ j.uid }}" user-id = "{{ j.user.id }}" href = "{% url 'add_comment_like' j.uid %}" class = "commentlike" style = "text-decoration : none;"><i style='display : grid; justify-content : flex-end; font-size:20px; cursor : pointer; color : red;' class='material-icons' id = "like-{{ j.uid }}">favorite</i></a>
                          {% else %}
                            <a comment-id = "{{ j.uid }}" user-id = "{{ j.user.id }}" href = "{% url 'add_comment_like' j.uid %}" class = "commentlike" style = "text-decoration : none;"><i style='display : grid; justify-content : flex-end; font-size:20px; cursor : pointer; color : gray;' class='material-icons' id = "like-{{ j.uid }}">favorite_border</i></a>
                          {% endif %}

                        </div>
                      </div>

                    {% endfor %}
                  </div>

                </div>
              </div>
              <div class="card1 " style = "" id = "{{ i.1.uid }}">
                <div class="IdPhotoName">
                  {% if profile.0.avatar %}
                    <img src="{{ profile.0.avatar.url }}" alt="aaaa" class="avatar_post" style = "margin-top : 5px; margin-left : 5px;">
                  {% else %}
                    <img src="/static/aa.png" alt="aa" class="avatar_post" style = "margin-top : 5px; margin-left : 5px;">
                  {% endif %}
                  <div class="" style = "vertical-align : middle; margin-top : 11px; margin-left : 5px;">
                    <a href="{% url 'show_profile' i.2 %}" id = "Comment" style = "text-decoration : none;"><b style = "font-family : 'courier new';"></b><p>{{ i.0 }}</p></a>
                  </div>
                  <a id = "{{ i.1.uid }}" href="#" class = "for_hover points" style = "width : 20px; margin-top : 11px; margin-left : 100px; height : 20px;"><i class='fas fa-ellipsis-v' style = 'font-size:15px'></i></a>

                </div>

                <a href="" class = "PostA" style = " margin : 0; padding : 0;">

                  <div id = "point_option" class = "point-option-{{ i.1.uid }}" style = "display : none;">
                    <ul>
                      <li class = "post_li for_hover"><b>Report</b></li>
                      <li class = "post_li for_hover"><b>Copy Link</b></li>
                      <li class = "post_li for_hover"><b>Share to...</b></li>
                      <li class = "post_li for_hover"><b>Unfollow</b></li>
                    </ul>
                  </div>

                  <div class="post_image" style = "width : 100%; ">
                    <img  src="{{ i.1.photo.url }}" alt="..." style = " width : 100%; height : 120px; border-top: 0.5px solid rgb(228, 227, 227); border-bottom : 0.5px solid  rgb(228, 227, 227);">

                    <div hover_id = "{{ i.1.uid }}" id = "post-image-hover-{{ i.1.uid }}" class="post_image_hover bg-dark" style = "opacity : 0">
                      <div class="Post-Options" style = "">
                        {% if user not in i.1.likes.all %}
                          <div class="Like" style = "">
                            <a class = "LikeA for_hover" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:30px; cursor : pointer; color : #17A2B8;' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite_border</i></a>
                          </div>
                        {% else %}
                        <div class="Like" style = "">
                          <a class = "LikeA" get-count = "{% url 'get_like_count' i.1.uid %}" href="{% url 'like' i.1.uid %}" id = "{{ i.1.uid }}"><i  style='font-size:30px; cursor : pointer; color : red;' id = "like-border-{{ i.1.uid }}" class='material-icons'>favorite</i></a>
                        </div>
                        {% endif %}

                        <div class="Comment post_opntion2" style = "">
                          <i onclick="document.getElementById('id01').style.display='block'" style='font-size:30px; cursor : pointer;color : #17A2B8;' id = "Comment" class='material-icons'>comment</i>
                        </div>

                        {% if user in i.1.book_marks.all %}
                          <div style = "" class = "post_opntion2">
                            <a class = "for_hover"  href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='color : #17A2B8; font-size:30px; cursor : pointer;' class='material-icons'>bookmark</i></a>
                          </div>
                        {% else %}
                          <div style = "" class = "post_opntion2">
                            <a class = "for_hover" href="{% url 'book_mark' i.1.uid %}" id = "BookMark" post-id = "{{ i.1.uid }}"><i id = "bookmark-{{ i.1.uid }}" style='color : #17A2B8; font-size:30px; cursor : pointer;' class='material-icons'>bookmark_border</i></a>
                          </div>
                        {% endif %}


                      </div>

                    </div>
                  </div>
                </a>




                <a href="#" class = "PostA">
                  <div class="ShowCaption">
                    <p style = "margin-left: 5px; text-overflow: ellipsis;">{{ i.1.caption|truncatechars:45}}</p>

                  </div>

                  <div class="ShowDate">
                    <p style = "position : absolute; align-items: flex-end;direction : ltr; margin-left : 5px;">{{ i.1.published_date|timesince }}</p>
                  </div>
                </a>

                <div class="under_comment" style = "display : flex;">
                  <form class="comment_form"  action = "{% url 'add_comment' i.1.uid %}" method="POST" style = "display : flex;">
                    {% csrf_token %}
                    <input  placeholder = "write comment..." class = "under_comment_input" type="text" name="comment" value="">
                    <input id = "{% url 'add_comment' i.1.uid %}" class = "bg-dark text-white submit_comment" type="submit" name="" value="post">
                  </form>
                </div>

              </div>
            {% endfor %}
          </div>
        </div>






      {% endif %}

    </div>



    <div style = "height : 100px;">
    </div>




    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("mouseenter", ".post_image_hover", function(){
          var id = $(this).attr("hover_id");
          $("#post-image-hover-" + id).animate({"opacity" : "0.9"}, 400);
        })

        $(document).on("mouseleave", ".post_image_hover", function(){
          var id = $(this).attr("hover_id");
          $(".post_image_hover").css("opacity", "0");
        })
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){

        $(document).on("submit", ".comment_form", function(a){
            a.preventDefault();
          })

        $(document).on("click", ".submit_comment", function(){
          var url = $(this).attr("id");
          var text = $(".under_comment_input").val()

          $.ajax({
            type : "POST",
            url : url,
            data : {
                      comment : $(".under_comment_input").val(),
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                   },
            success : function(aa){
              $(".under_comment_input").val("");
            }


          });
        })

      });
    </script>


    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", ".points", function(e){
          e.preventDefault();

          var id = $(this).attr("id");
          if($(".point-option-" + id).css("display") == "none"){
            $(".point-option-" + id).css("display", "block");
          }
          else{
            $(".point-option-" + id).css("display", "none");
          }
        })
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", ".points", function(e){
          e.preventDefault();
          if($(".point_option").css("display") == "none"){
            $(".point_option").css("display", "block");
          }
          else{
            $(".point_option").css("display", "none");
          }
        })
      })
    </script>



    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '#BookMark', function (a) {
          a.preventDefault();
          var post_id = $(this).attr("post-id");
          var url = $(this).attr("href");
          $.ajax({
            url : url,
            success : function(boo){
              console.log("helllo");
              if($("#bookmark-" + post_id).text() === "bookmark_border"){
                $("#bookmark-" + post_id).text("bookmark");
              }
              else {
                $("#bookmark-" + post_id).text("bookmark_border");
              }

            }
          })
        })
      })

    </script>

    <script type="text/javascript">
      $(document).ready(function(){

      })
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".NoPostThere").animate({"justify-content" : "center"}, 2000, function(){
                $("#NoPostThere").html("there isn't any post to display")
            });
        })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        var h = $("#w-3modal").width();
        $(".w3-teal").width(h);
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on("click", ".commentlike", function(a){
          a.preventDefault();

          var url = $(this).attr("href");
          var comment_id = $(this).attr("comment-id");
          var user_id = $(this).attr("user-id");

          if($("#like-" + comment_id).text() === "favorite_border")
          {
            $("#like-" + comment_id).text("favorite");
            $("#like-" + comment_id).css("color", "red");
          }
          else
          {
            $("#like-" + comment_id).text("favorite_border");
            $("#like-" + comment_id).css("color", "gray");
          }

          $.ajax({
            url : url,
            data : {
              user_id : user_id,
            },
          })

        })
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.LikeA', function(e){
          e.preventDefault();

          var post_id = $(this).attr("id");
          var link = $(this).attr("get-count");
          var url = $(this).attr("href");
          $.ajax({
            url : url,
            success:function(s){
              $.ajax({
                url : link,
                success : function(suc){
                  if(suc.likes > 0){
                    $(".likecount-" + post_id).html(suc.likes);
                    $(".likecount-" + post_id).css("display" , "block");
                  }
                  else {
                    $(".likecount-" + post_id).css("display" , "none");
                  }

                  if ($("#like-border-" + post_id).text() === "favorite_border"){
                    $("#like-border-" + post_id).text("favorite");
                    $("#like-border-" + post_id).css("color", "red");
                  }
                  else{
                    $("#like-border-" + post_id).text("favorite_border");
                    $("#like-border-" + post_id).css("color", "#17A2B8");
                  }
                }

              });
            }

          });
        });
      });

    </script>



    </body>
</html>
