{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'menu1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  </head>
  <body>

    <div class="Menu">
      <br>
      <a class = "menubutton" href = "{% url 'home' %}" id = "MenuButton"><i class="fa fa-home" style="font-size : 29px;"></i></a><br>
      <br><br>
      <a class = "menubutton" href = "{% url 'notifiction' %}" id = "MenuButton"><i class="material-icons" style = "font-size : 35px;">favorite</i></a>
      <br><br>
      <a class = "menubutton" href = "{% url 'profile' %}" id = "MenuButton"><i class="material-icons" style = "font-size : 38px;">person</i></a>
      <br><br>
      <a class = "menubutton" href = "{% url 'setting' %}" id = "MenuButton"><i class="material-icons" style = "font-size : 35px;">settings</i></a>
      <br><br>
      <a class = "menubutton" href = "#" id = "MenuButton"><i class="material-icons" style = "font-size : 35px; margin-left : 5px;">search</i></a>
      <br><br>
      <a class = "menubutton" href = "{% url 'add_post1' %}"  id = "MenuButton"><i class = "material-icons" style = "font-size : 45px;">add</i></a>
    </div>

  </body>

</html>
