<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for i in notif %}
      <p>{{i.text}}</p>
    {% endfor %}
  </body>
</html>
