<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="Post_Detail">
      {% for i in post_detail %}
        <div class="card" id = "">
          <img src="{{ i.photo.url }}" alt="..." style = " width : 100%; height : 120px; border-bottom : 1px solid rgb(92, 91, 91);">


          <div class="Post-Options" style = "width : 100%;height : 30px; display : flex; padding-bottom : 33px;">

            <div class="Like" style = "margin-left : 5px; margin-top : 5px;">
              <i style='font-size:24px; cursor : pointer;' id = "Like" class='material-icons'>favorite_border</i>
            </div>

            <div class="Comment" style = "margin-left : 15px; margin-top : 9px;">
              <i onclick="document.getElementById('id01').style.display='block'" style='font-size:24px; cursor : pointer;' class='far w3-large'>&#xf27a;</i>
            </div>

            <div style = "margin-left : 113px; margin-top : 5px;">
              <i style='font-size:24px; cursor : pointer;' id = "BookMark" class='material-icons'>bookmark_border</i>
            </div>


          </div>

          <div class="ShowCaption">
            <p style = "margin-left: 5px;">{{ i.caption }}</p>
          </div>

          <div class="ShowDate">
            <p style = "margin-left : 5px;">{{ i.published_date }}</p>
          </div>

        </div>
      {% endfor %}
    </div>



    <script type="text/javascript">
      $(document).ready(function(){
        $('.modal').modal();
      });

    </script>
  </body>
</html>
