{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href = "{% static 'setting1.css' %}">

  </head>
  <body>

    <div class="entirly">
      {% include 'menu1.html' %}


      <div class="ShowDetail">
        <p style = "font-size : 25px; font-style: oblique; direction : rtl;text-align : center; margin-top : 30px;">یکی از تنظیمات را انتخاب کنید...</p>
      </div>


      <div class="Options">
        <a class = "SettingOptions" href="EditProfile">پست های آرشیو شده</a>
        <hr class = "HrTag">
        <a class = "SettingOptions" href="EditProfile">تغییر رمز کاربری</a>
        <hr class = "HrTag">
        <a class = "SettingOptions" href="EditProfile">اکانت های بلاک شده</a>
        <hr class = "HrTag">
        <a class = "SettingOptions" href="EditProfile">کامنت ها</a>
        <hr class = "HrTag">
        <a class = "SettingOptions" href="EditProfile" style = "font-size : 25px;">ارتباط با ما</a>




      </div>
    </div>



  </body>
</html>
