{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'reg.css' %}">
    <title></title>

  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

              <a href="{% url 'home' %}"><button class="btn btn-info" id = "btn-main-menu" type="button">main</button></a>

              <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
              <a class="btn btn-info" href="{% url 'signup' %}">signup</a>
              <br>
              <a class="nav-link" style = "color : white;" href="#">aboute</a>
              <br>
          </div>
          <br>
          <br>
          <br>
          </div>
</nav>

    <div class = "container">

      <div class = "row">
        <div class = "form-container mt-5 bg-dark col-4  pb-4 rounded-lg">
          <h1 class = "text-center text-white mt-3">login</h1>
          <form action="{% url 'login' %}" method = "POST" class = "login_form">
              {% csrf_token %}
            <div class = "input-group input-group-sm mt-5 col-11">
              <div class = "input-group-prepend">
                <span class = "input-group-text fas fa-user "></span>
              </div>
              <input placeholder = "username" type="text" class = "form-control" name = "username" id = "username">
            </div>
            <div class = "input-group input-group-sm mt-4 col-11">
              <div class = "input-group-prepend">
                <span class = "input-group-text fas fa-lock "></span>
              </div>
              <input placeholder = "password" type="passwrod" id = "password" class = "form-control" name = "password">
            </div>

            <div class = "form-group form-check mt-4  col-11" style = "margin-left : 29px;">
              <label class = "form-check-label tex-info">
                <input class = "form-check-input mt-2 tex-info" type="checkbox"><span class = "text-white">remember me</span>
              </label>
            </div>

            <button style = "width : 130px; margin-right : 30px;" type = "submit" class = "mt-4 btn btn-info float-right w-30" >submit</button>
          </form>
        </div>
      </div>

      <div class="erros">
          {% if form.non_field_errors %}
            <div class="from_errors">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger mt-5 float-right" style = "direction : rtl;">
                        <button type="button" class = "close float-left" data-dismiss = "alert" name="button">&times;</button>
                        <span class = "ml-5 " style = "direction : rtl; text-align : right;">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
          {% endif %}
      </div>
    </div>
  </body>
</html>
