#SubmitInput{
  margin-top: 50px;

  margin-right: 300px;


  width : 130px;
  height: 50px;
  border-radius: 10px;

  direction: ltr;

}

.PostPhoto{
  margin-right: 5px;
}

div.SelectPhoto{
  margin-top : 40px;
}

textarea.PostCaption{
  margin-right: 5px;
  direction : rtl;
  text-align: right;
  resize : none;


}


input[type = text]{
  width : 90%;
  margin-right : 20px;
  height: 150px;
  border-radius: 5px;

}


a.ContainSubmit{
  border-radius: 20px;
}


div.AddPost{
  display: flex
}

#AddPostForm{
  border: 1px solid rgb(189, 187, 187);
  border-radius: 5px;

  background-color : white;

  direction: rtl;
  text-align: right;

  margin-left: 420px;
  margin-top : 50px;



  height: 500px;
  width : 450px;
}




input.FormInputs{
  direction: rtl;
  text-align: right;

}
label.FormInputs{
  direction: rtl;
  text-align: right;
}
