div.CIdPhotoName{
  display: flex;


  margin-left : 400px;
  margin-top: 100px;

  height : 150px;
  width : 110px;

  padding-right : 10px;



}

.edit_photo_botton{
  margin-left: 75px;
  margin-top : 5px;

  width : 73px;
  height : 22px;

  background-color : #17A2B8;
  display: inline-block;

  border : .5px solid #17A2B8;
  border-radius : 5px;

  font-size : 12px;
  text-align : center;
  direction : rtl;
  color : white;
}


.edit_photo_botton:hover{
  color : white;
  background-color : rgb(26, 129, 145);
}


div.form_container{
  background-color : white;
  width : 30%;

  display : flex;
  justify-content: center;
  align-items : center;
}

#NoProfPhoto{
  font-size : 75px;
  color : gray;
  margin-top : 20px;
}

form.edit_profile_form{
  margin-left : 10%;
}


input.submit_form{
  margin-top : 15px;

  width : 75px;
  height : 30px;

  background-color : #17A2B8;
  display: inline-block;

  border : .5px solid #17A2B8;
  border-radius : 5px;

  font-size : 14px;
  text-align : center;
  direction : ltr;
  color : white;
}

input.submit_form:hover{
  background-color : rgb(26, 129, 145);


}



div.the_rest_of_form{
  margin-top : 20px;

}


div.div2{
  position: absolute;
  height : 100%;
  width : 100%;
  display : flex;
  justify-content : flex-end;
}

div.div3{
  height : 100%;
  width : 91%;
  display : flex;
  justify-content: center;
  align-items: center;

  margin-right : 50px;
}


div.edit-profile{
  background-color : white;
  border : 1px solid gray;
  border-radius : 15px;

  height : 60%;
  width : 30%;

  box-shadow : 1px 2px 10px gray;
}

.getinfo{
  border-top : none;
  border-left: none;
  border-right: none;
  border-radius: none;
  border-bottom : 1px solid black;

  padding-top : 20px;

  transition : 1s;
  margin-top : 10px;
  outline : none;
}

.getinfo:focus{
  border-top : none;
  border-left: none;
  border-radius: none;
  border-bottom : 1px solid black;
}
div.IdPhotoName{
  height : 140px;
  margin-left : 150px;
}

img.avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;

  border-radius: 50%;
  border : 1px solid black;
}
