#navbarNavAltup{
    direction : rtl;

}


body{
  background-color: rgb(244, 244, 248);

}

input.under_comment_input{
  border : 1px solid gray;
  width : 73%;
  color : gray;
  border-radius : 6px;
  margin-left : 4px;
  margin-bottom : 3px;
  font-size : 13px;

}


div.comment:not(:last-child){
  border-bottom : 1px solid lightgray;
}

div.comment{
  padding-top : 10px;
  padding-bottom : 10px;
  display : flex;
}


div.likebutton{
  width : 100%;
  display : grid;
}

div.w3-container{
  padding-top : 20px;
  border-radius : 10px;
}


#w-3modal{
  width : 740px;
  height : 400px;
  overflow-y: scroll !important;
}

.w3-teal{
  width : 740px !important;
}





div.under_comment{
  display : grid;
  align-content: flex-end;
  align-items: flex-end;
  height : 15%;
}

input.submit_comment{
  width : 21%;
  text-align: left;
  font-size : 12px;
  margin-left : 2px;
  border-radius : 6px;
  margin-left : 3px;
  margin-bottom : 3px;
}

button.submit_comment:focus{}


#point_option{
  cursor : context-menu;
  margin-left : 27px;
  margin-top : 130px;

  top : 0;
  background-color : blue;
  height : auto;
  width : 200px;
  position : absolute;

  border-radius : 3px;
  border : 0.5px solid rgb(244, 244, 248);

  padding-top : 10px;
  padding-left : 0;
  padding-bottom : 0;
  padding-right : 0;

  box-shadow : 0px 0px 4px;
  direction : ltr;
  text-align : left;
  float : left;
  background-color: rgb(244, 244, 248);
}


div.point_option{
  cursor : context-menu;
  margin-left : 27px;
  margin-top : 25px;

  top : 0;
  background-color : blue;
  height : auto;
  width : 200px;
  position : absolute;

  border-radius : 3px;
  border : 0.5px solid rgb(244, 244, 248);

  padding-top : 10px;
  padding-left : 0;
  padding-bottom : 0;
  padding-right : 0;

  box-shadow : 0px 0px 4px;
  direction : ltr;
  text-align : left;
  float : left;
  background-color: rgb(244, 244, 248);
}

ul{
  padding-left : 5px;
  left : 0;
  text-align : left;
  list-style-type : none;
  margin-right : 40px;
}

li:last-of-type{
  border-bottom : none;
}

.post_li{
  cursor : pointer;
  direction : ltr;
  text-align : left;
  left : 0;
  border-bottom : 0.2px solid lightgray;
  padding-bottom : 5px;
  padding-top : 5px;

}


img.avatar_post{

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border : 1px solid black;
  margin-left : 0;
}


.for_hover:hover{
  color :  #17A2B8;
}

div.card1{
  /*border-bottom-left-radius: 6px;*/
  /*border-bottom-right-radius: 6px;*/

  border-radius: 6px;
  width : 200px;
  height: 300px;

  margin-top : 30px;


  box-shadow : 0px 0px 8px gray;


}
#likebutton:hover{
  color : #17A2B8;
}

div.IdPhotoName{
  width : 100%;
  height : 40px;
  display : flex;
}

img.avatar {

  width: 35px;
  height: 35px;

  border-radius: 50%;
  border : 1px solid black;
  margin-left : 5px;
}

div.ShowCaption{
  font-size: 20px;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width : 95%;
  height : 72px;
  margin-top : 2px;

}


div.ShowDate{
  font-size : 12px;
  height: 20px;
  width : 100%;
  display : flex;
  position : relative;
  align-content : flex-end;
}


img.ShowImage{
  width : 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}




div.card1:hover{
  box-shadow : 1px 1px 15px rgb(77, 76, 76);
}
div.post_image:hover{

}

div.post_image_hover{
    height: 120px;
    width : 200px;
    position : absolute;
    top : 0;
    margin-top : 100px;
}


div.Post-Options{
  background-color : #161515;
  width : 100%;
  height : 100%;
  display : flex;

  justify-content : center;
  align-items:center;
}
div.post_opntion2{
  margin-left : 15px;
}

#Comment:hover{
  color : #17A2B8;
}

a.PostA:hover{
  color : black;
  text-decoration : none;
}


div.NoPostThere{
  display : flex;
  background-color : white;
  justify-content: center;
  align-items: center;
  height : 100px;
  width : 800px;

  margin-top : 5px;

  border-radius: 10px;
  border : 1px solid rgb(189, 187, 187);

  box-shadow : 10px 10px 100px rgb(15, 79, 88);

}


#Shower{
  width : 740px;

  margin-left : 170px;
  margin-top : 30px;

  padding-left : 30px;
  padding-right : 20px;
  padding-bottom : 30px;

  border-radius : 4px;
  box-shadow : 2px 5px 15px rgb(117, 116, 116);

  display : grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap : 40px;
}

div.posts{
  height : 100%;
  width : 100%;
  display : grid;
  display : grid;
}

div.Display{
  display: flex;
}
