
div.Menu{
  background-color : white;
  height: 450px;
  width : 80px;
  border : 1px solid rgb(189, 187, 187);
  border-top-right-radius : 25px;
  border-bottom-right-radius: 25px;
  margin-top: 100px;
  box-shadow : 3px 3px 15px rgb(77, 76, 76);

  position: fixed;


}

body{
  background-color: rgb(244, 244, 248);
}




#MenuButton{
  margin-left: 20px;

}

#MenuButton:hover{
  color : #17A2B8;
}
