div.Container{
  display: flex;


}

div.profile{
  width : 100px;
  height : 100px;

  margin-left : 500px;
  margin-top : 200px;
}


body{
  font-family : "courier new";
}




a.follow_a:hover{
  color : white;
  text-decoration : none;
}

a.follow_a{
  text-decoration : none;
  text-align : center;
  direction : ltr;
  font-size : 15px;
  margin-top : 100px;
}

div.message_button{
  border: 0.5px solid #17A2B8;
  width : 80px;
  height : 25px;
  margin-top : 7px;
  text-align : center;
  border-radius : 5px;

}

div.message_button:hover{
  background-color : #17A2B8;
  transition: 1s;
}
.unfollow_a{
  color : black;
  text-decoration : none;
}

.unfollow_a:hover{
  text-decoration : none;
  color : white;
  transition : 0.5s;

}

.unfollow_button{
  border: 0.5px solid #17A2B8;
  width : 80px;
  height : 25px;
  text-align : center;
  border-radius : 5px;
  background-color: rgb(244, 244, 248);
}

.unfollow_button:hover{
  background-color : #17A2B8;
  color : white;
  text-decoration: none;
  height : 25px;
  transition : 0.8s;

}

.message_a:hover{
  text-decoration : none;
  color : white;
  transition : 0.3s;
}

.follow_button:hover{
  color : white;
  background-color : rgb(26, 129, 145);
  text-decoration : none;
  height : 25px;
}

.follow_button{
  width : 80px;
  height : 25px;

  background-color : #17A2B8;
  display: inline-block;

  border : .5px solid #17A2B8;
  border-radius : 5px;

  font-size : 12px;
  text-align : center;
  direction : rtl;
  color : white;
}

div.user_info{
  margin-left : 40px;
  margin-top : 30px;
  height: 50px;

}

.user_info_a:hover{
  text-decoration: none;
  color : black;

}


.user_info:hover  {
  border-bottom : 3px solid #17A2B8;
  transition: 0.1s;

}

.number_b{
  text-align : center;
}


img.avatar {
  vertical-align: middle;

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border : 0.5px solid gray;
}

#Comment:hover{
  color : #17A2B8;
}

.for_hover:hover{
  color :  #17A2B8;
  transition : .1s;
}

img.avatar_post{
  vertical-align: middle;

  width: 35px;
  height: 35px;

  border-radius: 50%;
  border : 0.5px solid gray;
  margin-left : 0;
}

div.CIdPhotoName{
  display: flex;


  margin-left : 200px;
  margin-top: 0px;

  height : auto;
  width : auto;

  border-bottom: 1px solid rgb(155, 153, 153);
  /*border-top-left-radius : 10px;*/
  /*border-top-right-radius : 10px;*/

  padding-right : 10px;
  padding-bottom : 10px;

}

#edit_profile:hover{
  color : #17A2B8;
}

div.IdPhotoName{
  width : 120px;
  height : 55px;

  margin-left : 5px;
}

div.first_name{
  margin-top : 21px;
  margin-left : 3px;

  font-size : 22px;

  width : 60px;
  height : 30px;
}

div.last_name{
  margin-left : 10px;
  font-size : 20px;

  width : 60px;
  height : 30px;
}

div.border{
  background-color : black;
  width : 3px;
  height : 90px;

  margin-top : 15px;
  margin-left : 5px;
}



div.ShowCaption{
  font-size: 20px;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width : 95%;
  height : 72px;
  margin-top : 2px;

}

#point_option{
  cursor : context-menu;
  margin-left : 27px;
  margin-top : 25px;

  top : 0;
  background-color : blue;
  height : auto;
  width : 200px;
  position : absolute;

  border-radius : 3px;
  border : 0.5px solid rgb(244, 244, 248);

  padding-top : 10px;
  padding-left : 0;
  padding-bottom : 0;
  padding-right : 0;

  box-shadow : 0px 0px 4px;
  direction : ltr;
  text-align : left;
  float : left;
  background-color: rgb(244, 244, 248);
}

ul{
  padding-left : 5px;
  left : 0;
  text-align : left;
  list-style-type : none;
  margin-right : 40px;
}

li:last-of-type{
  border-bottom : none;
}

.post_li{
  cursor : pointer;
  direction : ltr;
  text-align : left;
  left : 0;
  border-bottom : 0.2px solid lightgray;
  padding-bottom : 5px;
  padding-top : 5px;

}

div.ShowDate{
  font-size : 12px;
  font-size  : 10px;
  height: 20px;
  width : 100%;
}

img.ShowImage{
  width : 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.card{
  /*border-bottom-left-radius: 6px;*/
  /*border-bottom-right-radius: 6px;*/
  border-radius: 4px;
  width : 200px;
  height: 280px;
  margin-top : 40px;
  border : 1px solid rgb(92, 91, 91);

  margin-left : 50px;

  box-shadow : 0px 0px 10px gray;


}

div.card:hover{
  box-shadow : 1px 1px 15px rgb(77, 76, 76);
}

a.PostA:hover{
  color : black;
  text-decoration : none;
}


div.Show_Post_Profile{
  width : 1000px;
  height : auto;

  background-color : white;

  margin-left : 100px;
  margin-top : 50px;

  border-radius : 3px;

  padding-bottom : 50px;
  padding-top : 10px;
  padding-right : 90px;


  box-shadow : 1px 2px 10px rgb(77, 76, 76);

  justify-content: space-around;
  display: grid;
  flex-wrap : wrap;
  grid-template-columns : 250px 250px 250px;


}



input.CommentText{
  margin-left: 20px;
  width : 1100px;
}



input.CommentSubmit{
  width : 20%;
}
