body{
  display : grid;
}
div.prof{
  width: 100%;
  height: 625px;
  display : grid;
  justify-content: flex-end;

}


div.profile{
  width : 200px;
  height : 625px;
}

div.post_notfi{
  width : 75%;
  height : 625px;
  position: absolute;
  display: grid;
  justify-content: flex-end;
}

div.post{
  height : 300px;
  width : 600px;
  margin-top : 30px;
  border-radius: 15px;
}

div.notfi{
  height : 250px;
  width : 600px;
  margin-top : 10px;

  border-radius: 15px;
}

div.post_notfi{
  display : grid;
}
