body{
  color : #212529;
}


div.Options{
  width : 250px;
  height : auto;

  background-color : white;

  margin-left : 90px;
  margin-top : 120px;

  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;

  box-shadow : 0px 1px 15px rgb(77, 76, 76);

  text-align : right;
  direction : rtl;

  position : flex;

  padding-top : 10px;
  padding-bottom : 10px;

}

a.SettingOptions{
  margin-right : 10px;
  font-size : 15px;
  transition: .2s

}

body{
  background-color: rgb(244, 244, 248);
}


a.SettingOptions:hover{
  text-decoration : none;
  color : #17A2B8;
  padding-right: 5px;
  font-size : 17px;

}




div.ShowDetail{
  width : 800px;
  height : 100px;

  background-color : white;

  border-radius: 10px;

  box-shadow: 0px 3px 10px black;

  margin-left: 180px;
  margin-top : 250px;
}




div.entirly{
  display: flex;
}
