body{
  background-color: rgb(244, 244, 248);
}

div.ShowDetail{
  width : 800px;
  height : 400px;

  background-color : white;

  border-radius: 10px;

  box-shadow: 0px 3px 10px black;
  margin-left: 180px;
  margin-top : 200px;
}
